.search-container {
  width: 100%;
  display: flex;
  justify-content: center;
  form {
    display: flex;
    flex-flow: column;
    width: 400px;

    mat-label {
      font-size: 1.4rem;
    }

    input {
      font-size: 1.5rem;
    }

    button {
      padding: 5px;
      font-size: 1.5rem;
    }
  }
}

@media only screen and(max-width:800px) {
}
